<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GoldMine.MainServer.DBConnect" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="GoldMine.MainServer.GoldMineWebService">
        <endpoint address="" binding="webHttpBinding" kind="webHttpEndpoint" endpointConfiguration="goldmine" contract="GoldMine.MainServer.Interface.IConnectionTest" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/goldmine/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="goldmine" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <appSettings>
    <add key="AWSProfileName" value=""/>
    <add key="AWSRegion" value="us-west-2" />
  </appSettings>
  <userSettings>
    <GoldMine.MainServer.DBConnect>
      <setting name="LocalDBAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="UseLocalDB" serializeAs="String">
        <value>True</value>
      </setting>
    </GoldMine.MainServer.DBConnect>
  </userSettings>
</configuration>