<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GoldMine.MainServer.DBConnect" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GoldMine.MainServer.Settings.HostSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="GoldMine.MainServer.Settings.DBConnect" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AWSProfileName" value=""/>
    <add key="AWSRegion" value="us-west-2" />
  </appSettings>
  <userSettings>
    <GoldMine.MainServer.DBConnect>
      <setting name="LocalDBAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="UseLocalDB" serializeAs="String">
        <value>True</value>
      </setting>
    </GoldMine.MainServer.DBConnect>
  </userSettings>
  <applicationSettings>
    <GoldMine.MainServer.Settings.HostSetting>
      <setting name="WebHostAddress" serializeAs="String">
        <value />
      </setting>
    </GoldMine.MainServer.Settings.HostSetting>
    <GoldMine.MainServer.Settings.DBConnect>
      <setting name="UseLocalDB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocalDBAddress" serializeAs="String">
        <value />
      </setting>
    </GoldMine.MainServer.Settings.DBConnect>
  </applicationSettings>
</configuration>